html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#controls {
  position: absolute;
  right: 39px;
  text-align: center;
  background: white;
  padding: 11px;
  bottom: 14px;
  border-radius: 2px;
  margin: 10px;
  font-size: 11px;
  font-family: Roboto, Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#controls label {
  color: rgb(86, 86, 86);
  display: inline-block;
  text-align: right;
  box-sizing: border-box;
}

#controls h3 {
  margin: 0 0 10px;
}
#controls input, #controls select {
  font-family: Roboto, Arial, sans-serif;
}

/* google.maps.InfoWindow */
.info-header {
  text-align: center;
  max-width: 80vw;
}
.info-header p {
  margin: 0;
}
.info-header a[onclick] {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.info-body {
  max-width: 80vw;
  max-height: 50vh;
}
.info-body > * {
  display: none;
}
.info-body > label {
  display: inline-block;
  padding: 10px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.info-body > input:checked ~ div {
  display: block;
}
.info-body > input:checked ~ label {
  display: none;
}

.info-body .alignright {
  float: right;
}
.info-body .alignleft {
  float: left;
}
